.modal{
    position: fixed;
    top: 20%;
    width: 70%;
    left: 13%;
    background-color: white;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2) ;
    display: none;
}

#backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.modal h2{
    margin-top: 0;
}

.modal form{
    margin: 0.5rem 2%;
}
.modal label{
    display: block;
    font: inherit;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.modal input{
    margin-bottom: 1.5rem;
    border: 1px solid rgb(141, 137, 137);
    border-radius: 4px;
    height: 1.5rem;
    width: 30%;
}

@media (min-width: 49rem) {
    .modal{
        margin: 0 auto;
        width: 40rem;
        left: calc(50% - 20rem - 2%);
    }
}